main 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    height: 100vh;
    align-content: center;
    background-color: aliceblue;
}

#calculator 
{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    border: 10px solid black;
    border-radius: 4px;
    background-color: black;
    gap: 2px;
}

#equals {
    grid-column-start: 3;
    grid-column-end: 5;
}

#display
{
    grid-column-start: 1;
    grid-column-end: 5;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 4.5em;
    font-weight: initial;
    margin: 5px; 
    border: 1px solid rgba(206, 199, 199, 0.479);
    background-color: black;
    overflow: hidden;
}

button 
{
    text-align: center;
    margin: 1px;
    border: none;
    border-radius: 8%;
    font-size: 2em;
    font-weight: initial;
    color: white;
    background-color: rgba(206, 199, 199, 0.199);
}

.operators{
    color: rgb(105, 214, 54);
}
.numbers{
    color: rgb(255, 255, 255);
}
.functionality{
    color: rgb(206, 41, 41);
}
#plusMinus{
    color: rgb(105, 214, 54);
}
#point{
    color: rgb(105, 214, 54);
}